.maxwith {
    max-width: 150px;
}

.minwith {
    min-width: 75px;
}

.fontsize {
    font-size: small;
}

.form-select {
    font-size: small;
}

.form-control {
    font-size: small;
}

.shadowbox {
    border: 1px;
    border-style: solid;
    padding: 10px;
    box-shadow: 5px 5px #888888;
    
}

.minhight {
    min-height:700px;
}

.marg1 {
    margin-bottom: 10px;
    margin-right: 5px;
}